@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        background-image: linear-gradient( rgba(0, 0, 0, 0.253), rgb(0, 0, 0)), url(../img/roleta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;s
        height: 100vh;
    }


    .text-center {
        position: absolute;
        color: rgb(255, 240, 0);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
