@{
    ViewData["Title"] = "Privacidad";
}


<style>
    .container-info {
        border: 2px solid #f90000; 
        border-radius: 10px;
        padding: 20px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        background-color: #ffb2b2;
    }
</style>



<div class="container-info mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="~/img/FotoMia.jpg" alt="Mi foto" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h2 class="h3">Mis datos</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre completo: Martín Minetti</li>
                <li class="list-group-item">Edad: 23 años</li>
                <li class="list-group-item">Título: Técnico Superior en Desarrollo de Software</li>
                <li class="list-group-item">Correo electrónico: minettimartin0@gmail.com</li>
                <li class="list-group-item">Ciudad: Morteros, Argentina</li>
                <li class="list-group-item">
                    <a href="https://www.linkedin.com/in/minettimartin0/" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>